/*Page outline format*/
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 15%;
    padding: 10px;
    min-height: 1024px;
    /* Should be removed. Only for demonstration */
    background-color: white;
}

.content {
    float: left;
    width: 70%;
    padding: 10px;
    min-height: 1024px;
    /* Should be removed. Only for demonstration */
    background-color: rgba(0, 128, 128, 0.18);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




.container {
    width: 98%;
    margin:0 auto;
    /* Center the DIV horizontally */
}

.footer {
    width: 100%;
    background: #008080;
    padding: 10px 0;
    color: #fff;
    min-height: 100px;
}