<div class="blockContent">
    <h2 style="margin-left: 25px;">All Courses:</h2>
  <div class="blockContentBody">
      <div style="text-align: center;">
    <div class="pagination">
        <a (click)="Clicked(1)">&laquo;</a>
        <a (click)="Clicked(1)" [class.active]="page === 1">1</a>
        <a (click)="Clicked(2)" [class.active]="page === 2">2</a>
        <a (click)="Clicked(3)" [class.active]="page === 3">3</a>
        <a (click)="Clicked(3)">&raquo;</a>
      </div>
    </div>
    <div class="flex-container">
        <div class="card" *ngFor="let course of courses">
            <img src={{course.img}} alt="Avatar" style="width:100%">
                <h2 style="text-align: center;">{{course.courseName}}</h2>
        </div>
        
      </div>
    </div>
  </div>