<!--Header and Side Nav-->
<app-header *ngIf="page !== 'login'&& page !=='register'" (sendata)="onTakeData($event)" [page]="page" [UserPages]="UserPages"></app-header>


<!--Main Page-->
<app-login *ngIf="page === 'login'" (sendata)="onTakeUserID($event)"></app-login>
<app-register *ngIf="page === 'register'"(sendata)="onTakeData($event)"></app-register>
<br><br><br>
<div *ngIf="page !== 'login'&& page !=='register'" class="row">
  <div class="column">
  </div>
  <div class="content">
    <app-dashboard *ngIf="page === 'dashboard'" [UserID]="UserID" (courseClick)="onCourseClick($event)"></app-dashboard>
    <app-all-courses *ngIf="page === 'allcourses'"(courseClick)="onCourseClick($event)"></app-all-courses>
    <app-my-courses *ngIf="page === 'mycourses'" [UserID]="UserID" (courseClick)="onCourseClick($event)"></app-my-courses>
    <app-grades [UserID]="UserID" *ngIf="page === 'grades'"></app-grades>
    <app-teacher [UserID]="UserID" *ngIf="page === 'teacher'"></app-teacher>
    <app-admin *ngIf="page === 'admin'"></app-admin>
    <app-course-materials *ngIf="page === 'coursematerial'" (sendata)="onTakeData($event)" [code]="code"></app-course-materials>
    <app-course-info [UserID]="UserID" *ngIf="page === 'courseinfo'" (sendata)="onTakeData($event)" [code]="code"></app-course-info>
  </div>
  <div class="column">
<h3 style="text-align: center;">Date: {{currentDate | date:'dd-MM-yyyy'}}</h3>

  </div>
</div>



 <!--Footer-->
 <div *ngIf="page !== 'login'&& page !=='register'" class="footer"><div class="container">Copyright &copy; 2016 Your Company</div></div>