  /*Page outline format*/



  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    margin: auto;

  }
  .blockContent{
    margin: 5% 12%;
    
  }
  .blockContentBody{
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 2% 5%;
    
  }
  .button {
    border: none;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttonRed{
    background-color: red;
  }
  .buttonGreen{
    background-color: green;
  }