<div class="blockContent">
    <h3 style="margin-left: 25px;">Your Information:</h3>
  <div class="blockContentBody">
    <div class="flex-container">
  
      <div style="display:inline-block;vertical-align:top;">
        <img height="160px" width="160px" src="../../../assets/profile.png" alt="img"/>
        </div>
        <div style="display:inline-block;">
        <h2>DR. {{teacher.name}}</h2>
        <p style="font-style: oblique;font-size:0.9em;">{{teacher.email}}</p>
        <p style="font-style: oblique;font-size:0.9em;">{{teacher.id}}</p>
        </div>
        
      </div>
      <div style="width: 65%;margin: auto;">
        <h3>{{teacher.faculty}}<br>{{teacher.university}}<br><br>You are currently teaching in: {{teacher.courses}} Courses </h3>
      </div>
    </div>
  </div>

  <div class="blockContent">
    <h3 style="margin-left: 25px;">Add Grade:</h3>
  <div class="blockContentBody">
    

    </div>
  </div>

  <div class="blockContent">
    <h3 style="margin-left: 25px;">View/Upload Materials:</h3>
  <div class="blockContentBody">
    
    
    </div>
  </div>

  <div class="blockContent">
    <h3 style="margin-left: 25px;">Add Announcement:</h3>
  <div class="blockContentBody">
    
    
    </div>
  </div>