<div class="blockContent">
    <h3 style="margin-left: 25px;">Your Information:</h3>
  <div class="blockContentBody">
    <div class="flex-container">
  
      <div style="display:inline-block;vertical-align:top;">
        <img height="160px" width="160px" src="../../../assets/profile.png" alt="img"/>
        </div>
        <div style="display:inline-block;">
        <h2>{{user.username | uppercase}}</h2>
        <p style="font-style: oblique;font-size:0.9em;">{{user.email}}</p>
        <p style="font-style: oblique;font-size:0.9em;">{{user.userID}}</p>
        </div>
        
      </div>
      <div style="width: 65%;margin: auto;">
        <h3>Faculty of {{user.faculty}}<br>{{user.university}} University</h3>
      </div>
    </div>
  </div>