<div class="blockContent">
    <h2 style="margin-left: 25px;">User Information:</h2>
  <div class="blockContentBody">
    <div class="flex-container">
  
      <div style="display:inline-block;vertical-align:top;">
        <img height="160px" width="160px" src="../../../assets/profile.png" alt="img"/>
        </div>
        <div style="display:inline-block;">
        <h1>{{user.name}}</h1>
        <p style="font-style: oblique;font-size:1em;">{{user.email}}</p>
        <p style="font-style: oblique;font-size:1em;">{{user.id}}</p>
        </div>
        
      </div>
      <div style="width: 65%;margin: auto;">
        <h2>{{user.faculty}}<br>{{user.university}}</h2>
      </div>
    </div>
  </div>