<div class="blockContent">
    <h3 style="margin-left: 25px;">Recently accessed courses:</h3>
  <div class="blockContentBody">
    <div class="flex-container">
  
        <div routerLink="coursematerial" style="cursor: pointer;" (click)="onCourseClick({page:'coursematerial',courseName: course.name})" class="card" *ngFor="let course of courses.reverse()">
            <img src={{img}} alt="Avatar" style="width:100%">
                <h3 style="text-align: center;"><b>{{course.name}}</b></h3>
        </div>
        
      </div>
    </div>
  </div>