
<div class="row">
    <div class="column">
    </div>
    <div class="content">
        <h1 style="font-size: 3em;color: #008080;text-align: center;">Welcome to the E-Learning System</h1>
        <div class="registerbox">
            <h1 style="font-size: 2em;text-align: center;">Register</h1><br>
            <form [formGroup]="registerForm">

                <div class="row">
                    <div class="registercolumn">
                        <label for="email" style="font-size: 1.2em;">Email</label><br>
                        
                        <input type="text" formControlName="email" id="email" name="email" style="font-size: 1.2em;" [(ngModel)]="email"><br>
                        <label for="username" style="font-size: 1.2em;">Username</label><br>
                        <input type="text"  formControlName="username" id="username" name="username" style="font-size: 1.2em;" [(ngModel)]="username"><br>
                        <label for="faculty" style="font-size: 1.2em;">Faculty</label><br>
                        <input type="text"  formControlName="faculty" id="faculty" name="faculty" style="font-size: 1.2em;" [(ngModel)]="faculty"><br>
                    </div>
                    <div class="registercolumn">
                        <label style="font-size: 1.2em;" for="password">Password</label><br>
                        <input type="password"  formControlName="password" id="password" name="password"style="font-size: 1.2em;"  [(ngModel)]="password"><br>
                        <label for="university" style="font-size: 1.2em;">University</label><br>
                        <input type="text"  formControlName="university" id="university" name="university" style="font-size: 1.2em;"  [(ngModel)]="university"><br><br>
                        <p  style="font-size: 1.2em;">Register As:</p>
                        <label for="typestudent" style="font-size: 1em;margin: 0% 5% 0% 30%;">Student</label>
                        <input style="size: 2em;" name="options" ng-control="options" type="radio" [value]="1"  [(ngModel)]="type">
                        <label for="typeteacher" style="font-size: 1em;margin: 0% 5% 0% 15%;">Teacher</label>
                        <input name="options" ng-control="options" type="radio" [value]="2" [(ngModel)]="type" ><br><br>
                    </div>
                    
                  </div>
                  
                 
                  <input class="button" type="button" value="Register" (click)="onClicked('register')">
                  <input routerLink="login" class="button" type="button" value="Back" style="background-color: crimson;" (click)="onClicked('')">
            </form> 
        </div>
    </div>
    <div class="column">
        </div>
  </div>
  